 <h1><%= @article.title %></h1>
 <p><%= @article.content %></p>
<img class="picture"
     src="https://picsum.photos/400"
     alt="pic" />

<p><%= link_to "back to the list", articles_path %></p>
<p><%= link_to "edit the article", edit_path %></p>
